# fly.toml app configuration file generated for a2a-inspector on 2025-06-25T11:25:27+09:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'a2a-inspector'
org = 'planetarium-labs'
primary_region = 'nrt'

[build]

[env]
  PORT = '8080'

[[mounts]]
  source = 'a2a_inspector_data'
  destination = '/data'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

  [[http_service.checks]]
    interval = '15s'
    timeout = '2s'
    grace_period = '5s'
    method = 'GET'
    path = '/'
    protocol = 'http'
    tls_skip_verify = false

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
